{% extends "layout.html" %}
{% block content %}
<head>
    <style>
    body {background-image:url(../static/img/med6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    h1{
        text-align: center;
        padding: 25px;
    }
    
    </style>
</head>
<body>
        <h1>You have successfully created your Account</h1>
        <br>
        <h2><a href="/user">click here to Login</a></h2>
</body>    
{% endblock %}