{% extends "layout.html" %}
{% block content %}
<head>
    <style>
    body {background-image:url(../static/img/med6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    h1{
        text-align: center;
        padding: 25px;
    }
    
    </style>
</head>
<body>
        <h1>Your Request is recorded successfully<br>
            if the requested medicine is available we will inform you </h1>
        <h2><a href="/requestor">click here for another request</a></h2>
</body>    
{% endblock %}